.icon {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;

  &--menu {
    background-image: url(../images/icons/menu.svg);
  }

  &--cross {
    background-image: url(../images/icons/cross.svg);
  }

  &--forward {
    display: none;

    @include onTablet {
      display: block;
    }
  }

  &--end {
    display: block;

    @include onTablet {
      display: none;
    }
  }
}
